<link rel="stylesheet" href="/css/card2.css">

<div class="conteiner-card2">
    <h2 id="habilidades">Habilidades</h2>
    <div class="card">

        <div class="html">
            <p><i class="fa-brands fa-html5"></i></p>
        </div>

        <div class="css-img">
            <p><i class="fa-brands fa-css3-alt"></i></p>
        </div>

        <div class="bootstrap">
            <p><i class="fa-brands fa-bootstrap"></i></p>  
        </div>
        
        <div class="nodejs">
            <p><i class="fa-brands fa-node-js"></i></p>  
        </div>

        <div class="react">
            <p><i class="fa-brands fa-react"></i></p>   
        </div>

        <div class="mysql">
            <p><i class="fa-solid fa-database"></i></p>
        </div>

        <div class="express">
            <p><i class="fa-brands fa-npm"></i></p>
        </div>

        <div class="git">
            <p><i class="fa-brands fa-git-alt"></i></p>    
        </div>

        <div class="python">
            <p><i class="fa-brands fa-python"></i></p>   
        </div>

        <div class="js">
            <p><i class="fa-brands fa-js"></i></p>  
        </div>
    </div>
</div>

<script>
    ScrollReveal().reveal('.conteiner-card2 .card', {delay:500});
</script>