<link rel="stylesheet" href="/css/nav.css">
<header>
    <nav>
        <div class="enlaces">    
            <a href="https://github.com/maxiir"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/maximiliano-rucci-b757901b0/"><i class="fa-brands fa-linkedin"></i></a>    
        </div>
        
        <ul class="nav-menu show">     
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#habilidades">Habilidades</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
        <div class="btn">
            <a href="#" id="btn-menu" onclick="showMenu()"><i class="fa-solid fa-bars"></i></a>
        </div>

        
        
        
    </nav>

    <script>
        function showMenu(){
            document.querySelector(".nav-menu").classList.toggle('show');
        }
            
    </script>
    

</header>